doctype html
html(lang="en")
  head
    title KAIGI
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body 
    header KAIGI
    main 
      ul 
      form#nickname 
        input(type="text", placeholder="nickname")

      form#message 
        input(type="text", placeholder="message")
    
  script(src="/public/js/app.js") 